<p>
Your Name<br/>
{{view Ember.TextField valueBinding="view.newRsvpName"}}<br/>
<span class="text-error">{{nameError}}</span>
</p>

<p>
How Many People Are You Bringing?<br/>
{{view Ember.TextField valueBinding="view.newRsvpAttending"}}<br/>
<span class="text-error">{{attendingError}}</span>
</p>

<p>
Any Messages to Anyone?<br/>
{{view Ember.TextArea rows="6" cols="34" valueBinding="view.newRsvpMessage"}}<br/>
<span class="text-error">{{messageError}}</span>
</p>

<input type="submit" class="btn btn-primary btn-large" value="RSVP" />